In [1]:
#Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].
years_list = [2000,2001,2002,2003,2004,2005]

In [3]:
#Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
years_list[3]

2003

In [7]:
#Q3.In the years list, which year were you the oldest?
years_list[-1]

2005

In [5]:
#Q4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella', 'salmonella'.
things = ['mozzarella', 'cinderella', 'salmonella']

In [18]:
#Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
for i in range(len(things)):
    if things[i] =='cinderella':
        things[i].capitalize()
print(things)
#It did not make any change in original list

['mozzarella', 'cinderella', 'salmonella']

In [19]:
#Q6. Make a surprise list with the elements 'Groucho', 'Chico' and 'Harpo'
surprise = ['Groucho', 'Chico', 'Harpo']

In [24]:
#Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
surprise[-1].lower()[::-1].capitalize()

'Oprah'

In [25]:
#Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
e2f = {'dog' : 'chien', 'cat' : 'chat', 'walrus' : 'morse'}

In [26]:
#Q9. Write the French word for walrus in your three-word dictionary e2f.
e2f.get('walrus')

'morse'

In [32]:
#Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e = dict(i[::-1] for i in e2f.items())
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [33]:
#Q11. Print the English version of the French word chien using f2e.
f2e.get('chien')

'dog'

In [36]:
#Q12. Make and print a set of English words from the keys in e2f.
print(set(e2f.keys()))

{'dog', 'cat', 'walrus'}

In [42]:
#Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
# and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
# &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
# Make all the other keys refer to empty dictionaries.

life = {
    'animals':{
        'cats':['Henri','Grumpy','Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants':{},
    'other':{}
}

In [43]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [44]:
#Q14. Print the top-level keys of life.
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [45]:
#Q15. Print the keys for life['animals'].
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [46]:
#Q16. Print the values for life['animals']['cats']
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']