# assignment4

In [ ]:
Q1.

[] is an empty list, which means this list does not have any element.

In [2]:
#Q2.

spam = [2,4,6,8,10]

spam[2] = "hello" # we need to sepcify asked index-1 (as index starts from 0) inside [] and assign the value we need to enter.

spam # for printing the list

[2, 4, 'hello', 8, 10]

In [5]:
#Q3

spam = ['a','b','c','d']

print(spam[int(int('3'*2)/11)])

# '3' * 2 = '33' so after converting to int it will becom integer, then int(33/11) = 3, so spam[3] = 'd'

d

In [7]:
#Q4
print(spam[-1])
# It will print 'd', as we are trvaersing in negative index

d

In [9]:
#Q5

print(spam[0:2])
# It will pritn all the value present in 0,1 index

['a', 'b']

In [2]:
#Q6

bacon = [3.14,'cat',11,'cat',True]
bacon.index('cat') #1

1

In [3]:
#Q7

bacon.append(99)
bacon #modified list - [3.14,'cat',11,'cat',True,99]

[3.14, 'cat', 11, 'cat', True, 99]

In [4]:
#Q8

bacon.remove('cat')
bacon #modifeis list - [3.14,11,'cat',True,99]

[3.14, 11, 'cat', True, 99]

In [5]:
#Q9

l1 = [1,2,3,4]
l2 = ['a','v',9,10]

print(l1+l2) #list concatenation
print(l1*2) #list replication

[1, 2, 3, 4, 'a', 'v', 9, 10]
[1, 2, 3, 4, 1, 2, 3, 4]

In [6]:
#Q10

#append() will insert new element at end of the list
#insert() will take an index and value and put that value in that speciifed index

l1 = [10,23,454,677,23]
l1.append(999)
l1.insert(1,1111)
print(l1)

[10, 1111, 23, 454, 677, 23, 999]

In [8]:
Q11

- remove() will take a value and delete that from the list
-del() will take an index and delete value at that index, it can also take a range

In [ ]:
Q12

Some similarities of list and string
-Both have same indexing system
-We ca get length of both by len function
-Concatenation and replication opperation are similar
-We can itereate both of them using for loop
-We can also use in and not in function for both

In [ ]:
Q13

Difference between list and tuple-

- lists are mutable whereas tuples are immutable.
- lists are represented by [], whereas tuples are in ().
- Insertion, deletetion operations are fast in list, but in case of accessing element tuples are fast.

In [3]:
#Q14

tup = (42,)
print(tup,type(tup))
#We need to give comma at end or else it will be considered as int

(42,) <class 'tuple'>

In [5]:
#Q15

#tuple() used to conver list into tuple and list() used for converting tuple into list
l1 = ['abc',123,"hi",'a',12]
t1 = tuple(l1)
l2 = list(t1)
print(type(l1))
print(type(t1))

<class 'list'>
<class 'tuple'>

In [ ]:
#Q16

They contains reference to list value.

In [ ]:
#Q17

copy.copy() return a shalllow copy of an object, whereas copy.deepcopy() will return a deep copy of the object.